<!DOCTYPE html>
<html>
  <head>
    <title>Proctoring</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <header>
    <div class="wrap">
        <h2>   
            Demo test with proctoring
        </h2>
    </div>
</header>
    <div class="content">
      <div class="wrap">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
